@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border-subtle;
  }
  body {
    @apply bg-surface-base text-neutral-200;
  }
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-neutral-700 rounded-full;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-neutral-600;
  }
}
